<p>Create Customer!</p>
<a routerLink="/home">Home</a>
<form [formGroup]="createCustomerForm" (ngSubmit)="createCustomer()">
  <div class="mb-4">
    <label class="form-label">Name</label>
    <input class="form-control" name="name" formControlName="name" required />
    <div
      *ngIf="
        createCustomerForm.get('name')?.invalid &&
        createCustomerForm.get('name')?.touched
      "
    >
      <span class="text-danger">Name is required</span>
    </div>
  </div>
  <div class="mb-4">
    <label class="form-label">Email</label>
    <input class="form-control" name="email" formControlName="email" required />
    <div *ngIf="createCustomerForm.get('email')?.invalid && createCustomerForm.get('email')?.touched">
      <span class="text-danger">Email is required</span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="createCustomerForm.invalid">Create</button>
</form>
