<h3>Create Product</h3>
<a routerLink="/home">Home</a>
<form [formGroup]="createProductForm" (ngSubmit)="createProduct()">
  <div class="mb-4">
    <label class="form-label">Product Name</label>
    <input type="text" class="form-control" id="productName" formControlName="productName" required />
    <div *ngIf="createProductForm.get('productName')?.invalid && createProductForm.get('productName')?.touched">
      <span class="text-danger">Product Name is required</span>
    </div>
  </div>

  <div class="mb-4">
    <label class="form-label">Price</label>
    <input type="number" id="price" class="form-control" formControlName="price" required/>
    <div *ngIf="createProductForm.get('price')?.invalid && createProductForm.get('price')?.touched">
      <span class="text-danger">Price is required</span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="createProductForm.invalid">Create</button>
</form>
